*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;            
}
body{
    background: rgba(20, 19, 19, 0.7) url(/images/img3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;       
    background-blend-mode: darken;   
}

a{
    text-decoration: none;
}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
.logo{
    cursor: pointer;
    width:20%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo img{
    width:53%;
    border: 2px solid grey;
    border-radius:50%;
    filter: invert(100%);
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: all .3s ease 0s;
    color: #fff;
}
.nav-area li a:hover{
    color: #4bbb40;
}
.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #27cf59;            
}
.btn-group button {
    background-color: #4CAF50; /* Green background */
    margin: auto;
    margin-top:15px;
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 30%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  #s{
   padding: 10px 24px;
     margin-top: 10px;
     margin-left:77px;
  }
  
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }
  

.text-center{
    color: white;
    text-align: center;
    margin-top: 10px;
}
.sec{
    text-align: center;
    margin-top:25px;
}

.para{
    border: 2px solid white;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    color: white;
    display: inline;
    margin: auto;
    padding: 12px 24px;
    border-radius: 8px;
}
.para2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color:white;
}
.btn-groups{
    display: flex;
    justify-content: center;

}
.btn-groups button {
 
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    padding: 12px 24px;
  }
  
  /* Clear floats (clearfix hack) */
  .btn-groups:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-groups button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-groups button:hover {
    background-color: #3e8e41;
  }
  .hrz{
      margin-top: 25px;
      color: rgb(55, 194, 78);
  }