*{
    margin: 0;
    padding: 0
}
.logo {
    width:20%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo img {
    width:33%;
    border: 2px solid grey;
    border-radius:50%;
    filter: invert(100%);
}

.navbar{
    z-index: 1;
display:flex;
align-items:center;
justify-content:center;
position: sticky;
top: 0;
cursor: pointer;
}

.nav-list{
    width: 70%;
    display:flex;
    align-items:center;
   
}

.nav-list li{
list-style: none;
padding: 26px 30px;
}

.nav-list li a{
text-decoration: none;
color:white;
}

.nav-list li a:hover{
    text-decoration:none;
    color: gray;

}


.right-nav{
    width: 30%;
    text-align: right;

    padding-right: 25px;
    
}
#search{
    padding:5px;
    font-size:16px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(20, 19, 19, 0.7) url(./images/img3.jpg);
    background-size: cover;
    height: 100%;
    background-blend-mode: darken;
    
}


.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content:center;
    align-items:center;
    color:white;
    max-width: 50%;
    margin: auto;
    height: 85%;
}
.firstHalf{
    width: 90%;
    display: flex;
    flex-direction:column;
    justify-content:center;
}
.secondHalf img{
    width:60%;
    border: 4px solid grey;
    border-radius: 150px;
    display:block;
    margin: auto;
    position: sticky;
    filter: invert(100%);
}
.big-text{
font-size:32px;
padding-bottom: 15px;
}
.text-small{
    padding-bottom: 15px;
    font-size:18px;

}
.btn{
  padding:8px 20px;
  margin: 7px 3px;
  border: 2px solid white;
  border-radius:8px;
  font-size:18px;  
  background: none;
  color:white;
  cursor: pointer;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
.proj-heading{
text-align: center;
margin-top: 80px;
margin-bottom: 0px;
font-size: 48px;
color: rgb(15, 94, 139);
}
.section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    
    margin: auto;
}
.left{
    height: 100px;
    flex-direction: row-reverse;
}
.sectionTag{
    padding: 16px 0;
    font-size: 22px;
   
}
.paras{
    padding: 0px 65px ;
}
.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 19px;
}